**Name** : Ayush Chaware

**Roll No.:** 22

**Section:** A1

In [ ]:
#Factorial of n
num = int (input("Enter the number : "))
ans = 1
if num <0:
  print("invalid")
elif num == 0:
  print(" factorial of O is 1")
else:
  for i in range ( 1, num +1):
    ans = ans * i
  print("factorial of ", num,  "=", ans )

Enter the number : 4
factorial of  4 = 24

In [ ]:
# fibonacci series
num = int (input("Enter the number : "))
a = -1
b = 1
for i in range ( 1, num):
   ans = a + b
   a = b
   b = ans
   print(ans)

Enter the number : 10
0
1
1
2
3
5
8
13
21

In [ ]:
# Marks of student
import numpy as np

In [ ]:

a = np.array([])
# for i in a:
name = input("Name : ")

rollno = eval(input("Roll No. : "))

print("Enter the marks : ")
marks = []
for i in range(5):
    input1 = input("Subject marks: ")
    marks.append(input1)
print(marks)

Name : Ayush
Roll No. : 22
Enter the marks :
Subject marks: 98
Subject marks: 78
Subject marks: 87
Subject marks: 88
Subject marks: 97
['98', '78', '87', '88', '97']

In [ ]:
a = int(input("Subject 1 : "))
b = int(input("Subject 2 : "))
c = int(input("Subject 3 : "))
d = int(input("Subject 4 : "))
e = int(input("Subject 5 : "))

percentage = ((a + b + c + d + e)/500)*100
print("Percentage =", percentage)

CGPA = percentage / 9.5
print("CGPA = ", CGPA)

Subject 1 : 74
Subject 2 : 55
Subject 3 : 57
Subject 4 : 84
Subject 5 : 87
Percentage = 71.39999999999999
CGPA =  7.51578947368421

In [ ]:
n = input("enter n :")